.table{
    margin-top: 20px;
    width: 100%;
}

.head{
    display: flex;
    width: 100%;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
    & div{
        width: 30%;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
    }
    & div:first-child{
        width: 50px;
    }
}
.body{
    display: flex;
    width: 100%;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
    & div{
        width: 30%;
        text-align: center;
        font-size: 16px;
    }
    & div:first-child{
        width: 50px;
    }
}
.test-action{
    & button{
        padding: 2px 7px;
        color: blue;
        margin: 0 5px;
        &:hover{
            background-color: #ccc;
            border-radius: 50%;
        }
    }
    & button:first-child{
        color: red;
    }
}